%h1
  Products From
  =category.name


%table.table
  %tr
    %th Title
    %th Description
    %th Price
    %th
    %th
    %th

  - products.each do |product|
    -if product.category_id == category.id
      %tr
        %td= product.title
        %td= product.description
        %td= product.price
        %td= link_to 'Show', category_product_path(product.category, product)
        %td= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'Back', category_path(category), class: 'btn btn-primary'
