%p#notice= notice
%p#error= flash[:error]

.col-sm-8
  %p.product-title
    %b= product.title
  %p.product-desc
    %b Description:
    %br
    = product.description
  %p.product-price
    %span= image_tag "Dollar-coin@1x.png"
    %b Price:
    = product.price
  %p.product-category
    %span= image_tag "Tag-1@1x.png"
    %b Category
    = product.category.name
-if current_user.id != product.user_id
  .col-sm-4
    %h4 Submit a review
    = render 'reviews/form'
-else
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default'
%br
%h3 Reviews
= render reviews
%br
= link_to 'Back', category_path(category), class: 'btn btn-default'